/* shared_style_start */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}

/* shared_style_end */

/* header_style_start */
/* nav_style_start */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* nav_style_end */

/* banner_style_start */
.banner {
    margin-top: 100px;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner img {
    width: 100%;
    margin-top: 40px;
}

/* header_style_end */


/* main_style_start */
.teamss {
    max-width: 1440px;
    margin: 60px 225px;
}

/* features_section_start */
.teams-container {
    display: flex;
    /* margin: 0, auto; */
    align-items: center;
    justify-content: center;
    padding: 1px, 250px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
}

.teams-img {
    width: 100%;
}

.teams-content {
    /* padding-left: 70px;
    padding-right: 70px; */
    max-width: 520px;
    margin-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-weight: 400;
    line-height: 22px;
    margin-top: 20px;
}

/* features_section_end */

/* features_section2_start */
.features2 {
    display: flex;
    /* max-width: 1440px; */
    gap: 100px;
    justify-content: center;
    align-items: center;

}

.features2-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.features-para {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    max-width: 580px;
    margin-top: 20px;
}

.box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    max-width: 580px;
    margin-top: 20px;
    padding: 30px 42px 30px 30px;
}

.box h2 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.box p {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    max-width: 514px;
    /* padding: 30px 42px 30px 30px; */
}

.features-img{
    position: relative;
}

.f2-img{
    width: 80%;
}


.ten-years {
    border-radius: 8px;
    background: #FF900E;
    width: 310px;
    padding: 45px 1px;
    position: absolute;
    bottom: -75px;
    left: -90px;
}

.ten-years h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}

.ten-years p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}


/* features_section2_end */

/* fact_section_start */
.facts {
    max-width: 1440px;
    margin: 0, auto;
    margin-left: 171px;
    margin-top: 120px;
}

.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.facts-description {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.fact-card-conteinar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 80px;
}

.fact-card-conteinar .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 45px 45px;
}

.card-stats {
    color: #424242;
    font-weight: 600;
    font-size: 2.8rem;
}

.fact-card-conteina .card-title {
    color: #727272;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
}

/* fact_section_end */

/* sponsor_section_start */
.sponsors {
    text-align: center;
    margin-top: 150px;
}

.sponsor-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.spomsor-description {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    max-width: 540px;
    margin: 0 auto;
}

.sponsor-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
}

/* sponsor_section_end */
/* Footer_style_start */
footer {
    border-radius: 8px;
    background: #FFF4E7;
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 60px;
}

.footer-description {
    color: #424242;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 38px 410px;
}

/* Footer_style_end */

/* main_style_end */






/* responsive_media_queries_start */
/* mobile_devices_start */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teamss {
        margin: 10px 10px;
    }

    .teams-container {
        flex-direction: column-reverse;
        padding: 10px, 20px;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10px;
    }

    .teams-content {
        margin-left: 20px;
    }

    .facts {
        margin-left: 20px;
        margin-right: 20px;
    }

    .fact-card-conteinar {
        flex-direction: column;
    }

    .fact-card-conteinar .card {
        /* padding: 30px 30px; */
        margin-top: 10px;
    }

    .sponsor-img {
        flex-direction: column;
        padding: 0 20px;
        margin-top: 15px;
        gap: 20px;
    }

    .sponsor-img img {
        width: 165px;
    }

    .footer-description {
        padding: 10px 20px;
    }

    .features2 {
        flex-direction: column;
        padding: 20px;
    }

    .f2-img{
        width: 100%;
    }

    .ten-years {
        bottom: -80px;
        left: 105px;
    }


}

/* mobile_devices_end */

/* tablet_or_medium_devices_start */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .teamss {
        margin: 10px 10px;
    }

    .teams-container {
        flex-direction: column-reverse;
        padding: 10px, 20px;
    }

    .teams-img-container {
        /* grid-template-columns: repeat(1, 1fr); */
        margin-top: 10px;
    }

    .teams-content {
        margin-left: 20px;
        max-width: 720px;
    }

    .facts {
        margin-left: 30px;
        margin-right: 30px;
    }

    .fact-card-conteinar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
    }

    .fact-card-conteinar .card {
        /* padding: 30px 30px; */
        margin-top: 10px;
    }

    .footer-description {
        padding: 38px 20px;
    }
    .features2 {
        flex-direction: column;
        padding: 20px;
        margin-left: 
    }

    .f2-img{
        width: 100%;
    }
}

/* tablet_or_medium_devices_end */
/* responsive_media_queries_end */